<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.monash.legoar">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity android:name=".UnityActivity"></activity>
        <activity android:name=".ProductDetails3" />
        <activity android:name=".ProductDetails2" />
        <activity android:name=".Contact" />
        <activity android:name=".AccountSettings" />
        <activity android:name=".Homepage" />
        <activity android:name=".Account" />
        <activity android:name=".Search" />
        <activity android:name=".OrderStatus" />
        <activity android:name=".ThemeList" />
        <activity android:name=".Catalog" />
        <activity
            android:name=".SaleLists"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CheckOut" />
        <activity
            android:name=".Cart"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".productDetails" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>